Repository btwld/mix, pull requests merged in 2024-07, with the labels that each got.

#342 chore: add label on pr automatically
  .github/workflows/add_label.yml
  packages/mix_lint_test/test/lints/avoid_defining_tokens_within_theme_data.dart
  website/pages/docs/guides/animations.mdx
Labels: documentation, repo

#346 feat: pressable supports keyboard events
  packages/mix/lib/src/widgets/widget_state/pressable_widget.dart
  packages/mix/test/src/widgets/pressable/pressable_widget_test.dart
Labels: mix

#347 chore: Dart lint fixes
  melos.yaml
  packages/mix/lib/src/attributes/border/shape_border_dto.dart
  packages/mix/lib/src/core/factory/style_mix.dart
  packages/mix/lib/src/specs/icon/icon_widget.dart
  packages/mix/test/bechmarks/widget_build_test.dart
  packages/mix/test/empty_widget.dart
  packages/mix/test/helpers/testing_utils.dart
Labels: mix, repo

#350 fix: website resposiveness
  website/components/HomeContent.tsx
Labels: documentation

#344 chore: rewrite publish pipeline to use Melos
  .github/actions/test/action.yml
  .github/workflows/changelog.yml
  .github/workflows/publish.yml
  melos.yaml
Labels: repo

#368 docs: Update theming.mdx tutorial
  website/pages/docs/tutorials/theming.mdx
Labels: documentation

#371 feat: add attribute to fontVariantion
  .github/workflows/add_label.yml
  packages/mix/lib/src/attributes/text_style/text_style_dto.dart
  packages/mix/lib/src/attributes/text_style/text_style_dto.g.dart
  packages/mix/lib/src/attributes/text_style/text_style_util.dart
  packages/mix/lib/src/core/helpers.dart
  packages/mix/lib/src/specs/text/text_spec.dart
  packages/mix/lib/src/theme/tokens/text_style_token.dart
  packages/mix/test/helpers/testing_utils.dart
  packages/mix/test/src/attributes/text_style/text_style_dto_test.dart
  packages/mix/test/src/attributes/text_style/text_style_util_test.dart
  packages/mix/test/src/theme/tokens/text_style_token_test.dart
Labels: mix, repo

#374 refactor: use timer instead of future<void>
  packages/mix/lib/src/widgets/widget_state/pressable_widget.dart
  packages/mix/test/src/widgets/pressable/pressable_widget_test.dart
Labels: mix

#375 feat: add support to debugFillProperties
  packages/mix/lib/src/attributes/border/border_radius_dto.dart
  packages/mix/lib/src/attributes/color/color_dto.dart
  packages/mix/lib/src/attributes/decoration/decoration_dto.dart
  packages/mix/lib/src/attributes/modifiers/widget_modifiers_data_dto.dart
  packages/mix/lib/src/attributes/spacing/edge_insets_dto.dart
  packages/mix/lib/src/attributes/text_style/text_style_dto.dart
  packages/mix/lib/src/core/factory/mix_data.dart
  packages/mix/lib/src/core/factory/mix_provider.dart
  packages/mix/lib/src/core/modifier.dart
  packages/mix/lib/src/internal/diagnostic_properties_builder_ext.dart
  packages/mix/lib/src/modifiers/align_widget_modifier.dart
  packages/mix/lib/src/modifiers/aspect_ratio_widget_modifier.dart
  packages/mix/lib/src/modifiers/clip_widget_modifier.dart
  packages/mix/lib/src/modifiers/flexible_widget_modifier.dart
  packages/mix/lib/src/modifiers/fractionally_sized_box_widget_modifier.dart
  packages/mix/lib/src/modifiers/opacity_widget_modifier.dart
  packages/mix/lib/src/modifiers/padding_widget_modifier.dart
  packages/mix/lib/src/modifiers/rotated_box_widget_modifier.dart
  packages/mix/lib/src/modifiers/sized_box_widget_modifier.dart
  packages/mix/lib/src/modifiers/transform_widget_modifier.dart
  packages/mix/lib/src/modifiers/visibility_widget_modifier.dart
  packages/mix/lib/src/specs/box/box_spec.dart
  packages/mix/lib/src/specs/box/box_spec.g.dart
  packages/mix/lib/src/specs/flex/flex_spec.dart
  packages/mix/lib/src/specs/flex/flex_spec.g.dart
  packages/mix/lib/src/specs/icon/icon_spec.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix/lib/src/specs/image/image_spec.dart
  packages/mix/lib/src/specs/image/image_spec.g.dart
  packages/mix/lib/src/specs/stack/stack_spec.dart
  packages/mix/lib/src/specs/stack/stack_spec.g.dart
  packages/mix/lib/src/specs/text/text_spec.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
  packages/mix/lib/src/theme/tokens/radius_token.dart
  packages/mix/lib/src/theme/tokens/space_token.dart
  packages/mix/lib/src/theme/tokens/text_style_token.dart
  packages/mix_generator/lib/src/builders/method_debug_fill_properties.dart
  packages/mix_generator/lib/src/builders/spec/class_attribute_spec.dart
Labels: mix, mix_generator

#378 feat: ColorSwatchToken and other token improvements
  .github/workflows/add_label.yml
  examples/themed_button/lib/button/button.style.dart
  examples/themed_button/lib/styles/orbit.dart
  examples/themed_button/lib/styles/schadcn.dart
  examples/themed_button/lib/styles/tokens.dart
  examples/todo_list/lib/pages/add_task_page.dart
  examples/todo_list/lib/pages/todo_list_page.dart
  examples/todo_list/lib/style/components/button.dart
  examples/todo_list/lib/style/components/checkbox.dart
  examples/todo_list/lib/style/components/icon_button.dart
  examples/todo_list/lib/style/components/list_tile.dart
  examples/todo_list/lib/style/design_tokens.dart
  examples/todo_list/lib/style/patterns/outline.dart
  packages/mix/lib/src/attributes/border/border_dto.dart
  packages/mix/lib/src/attributes/text_style/text_style_dto.dart
  packages/mix/lib/src/core/attributes_map.dart
  packages/mix/lib/src/modifiers/render_widget_modifier.dart
  packages/mix/lib/src/theme/mix/mix_theme.dart
  packages/mix/lib/src/theme/tokens/breakpoints_token.dart
  packages/mix/lib/src/theme/tokens/color_token.dart
  packages/mix/lib/src/theme/tokens/mix_token.dart
  packages/mix/lib/src/theme/tokens/radius_token.dart
  packages/mix/lib/src/theme/tokens/text_style_token.dart
  packages/mix/lib/src/theme/tokens/token_util.dart
  packages/mix/test/helpers/testing_utils.dart
  packages/mix/test/src/specs/flex/flex_attribute_test.dart
  packages/mix/test/src/theme/material/material_tokens_test.dart
  packages/mix/test/src/theme/mix_theme_test.dart
  packages/mix/test/src/theme/tokens/color_token_test.dart
  packages/mix/test/src/theme/tokens/text_style_token_test.dart
  packages/mix_annotations/.gitignore
  packages/mix_generator/lib/src/builders/method_merge.dart
  packages/mix_generator/lib/src/mixable_dto_generator.dart
  packages/mix_lint/.gitignore
Labels: documentation, mix, mix_generator, repo, examples, mix_annotations, mix_lint

#379 fix: add flexible as the first in the order of modifiers
  packages/mix/lib/src/modifiers/render_widget_modifier.dart
Labels: mix

#383 feat: create an assist to extract attributes from a Style
  packages/mix_lint/lib/mix_lint.dart
  packages/mix_lint/lib/src/assists/extract_attributes.dart
  packages/mix_lint/lib/src/utils/extensions/dart_file_edit_builder.dart
Labels: mix_lint

#381 feat: implement quick fix for mix_attributes_ordering rule
  packages/mix_lint/lib/src/lints/attributes_ordering.dart
  packages/mix_lint/lib/src/utils/type_checker.dart
  packages/mix_lint_test/pubspec.yaml
  packages/mix_lint_test/test/lints/attributes_ordering/attributes_ordering.dart
  packages/mix_lint_test/test/lints/attributes_ordering/fix/attributes_ordering.dart
  packages/mix_lint_test/test/lints/attributes_ordering/fix/attributes_ordering.diff
  packages/mix_lint_test/test/lints/attributes_ordering/fix/attributes_ordering_test.dart
  packages/mix_lint_test/test/utils/golden.dart
Labels: mix_lint

#377 feat: Dto utility generation now adds constructor and static methods
  packages/mix/lib/src/attributes/border/border_dto.g.dart
  packages/mix/lib/src/attributes/enum/enum_util.g.dart
  packages/mix/lib/src/attributes/scalars/scalar_util.g.dart
  packages/mix/lib/src/attributes/spacing/edge_insets_dto.g.dart
  packages/mix_generator/lib/src/builders/dto/class_utility_dto.dart
  packages/mix_generator/lib/src/builders/method_lerp_builder.dart
  packages/mix_generator/lib/src/builders/utility_class_builder.dart
  packages/mix_generator/lib/src/helpers/builder_utils.dart
  packages/mix_generator/lib/src/helpers/dart_type_ext.dart
  packages/mix_generator/lib/src/helpers/type_ref_repository.dart
  packages/mix_generator/lib/src/mixable_class_utility_generator.dart
  packages/mix_generator/lib/src/mixable_enum_utility_generator.dart
Labels: mix, mix_generator, repo, examples, mix_annotations, mix_lint

#380 feat: MixThemeData can alter default order of modifiers
  packages/mix/lib/src/core/styled_widget.dart
  packages/mix/lib/src/modifiers/internal/render_widget_modifier.dart
  packages/mix/lib/src/modifiers/modifiers.dart
  packages/mix/lib/src/specs/box/box_widget.dart
  packages/mix/lib/src/specs/flex/flex_widget.dart
  packages/mix/lib/src/specs/icon/icon_widget.dart
  packages/mix/lib/src/specs/image/image_widget.dart
  packages/mix/lib/src/specs/stack/stack_widget.dart
  packages/mix/lib/src/specs/text/text_widget.dart
  packages/mix/lib/src/theme/mix/mix_theme.dart
  packages/mix/test/deprecated/widget_modifier_widget_test.dart
  packages/mix/test/deprecated/widget_modifiers_util_test.dart
  packages/mix/test/modifiers/render_widget_modifier_test.dart
  packages/mix/test/src/modifiers/widget_modifier_widget_test.dart
  packages/mix/test/src/modifiers/widget_modifiers_util_test.dart
  packages/mix/test/src/widgets/box/box_test.dart
  packages/mix/test/src/widgets/styled_icon_test.dart
Labels: mix, mix_generator, mix_lint

#385 chore: test improvements
  packages/mix/lib/src/attributes/border/border_radius_dto.dart
  packages/mix/lib/src/core/helpers.dart
  packages/mix/lib/src/internal/iterable_ext.dart
  packages/mix/lib/src/internal/lerp_helpers.dart
  packages/mix/lib/src/modifiers/clip_widget_modifier.dart
  packages/mix/lib/src/modifiers/flexible_widget_modifier.dart
  packages/mix/lib/src/modifiers/rotated_box_widget_modifier.dart
  packages/mix/lib/src/modifiers/transform_widget_modifier.dart
  packages/mix/lib/src/modifiers/visibility_widget_modifier.dart
  packages/mix/test/attributes/spacing/edge_insets_dto_test.dart
  packages/mix/test/helpers/testing_utils.dart
  packages/mix/test/src/attributes/border/border_radius_dto_test.dart
  packages/mix/test/src/attributes/border/shape_border_dto_test.dart
  packages/mix/test/src/attributes/scalars/scalar_util_test.dart
  packages/mix/test/src/attributes/text_style/text_style_dto_test.dart
  packages/mix/test/src/helpers/iterable_ext_test.dart
  packages/mix/test/src/helpers/lerp_helpers_test.dart
Labels: documentation, mix, mix_generator, repo, mix_lint, remix

#386 chore: Improve exports and interal references
  packages/mix/lib/mix.dart
  packages/mix/lib/src/attributes/attributes.dart
  packages/mix/lib/src/attributes/modifiers/widget_modifiers_data_dto.dart
  packages/mix/lib/src/attributes/modifiers/widget_modifiers_util.dart
  packages/mix/lib/src/core/core.dart
  packages/mix/lib/src/core/factory/mix_data.dart
  packages/mix/lib/src/core/helpers.dart
  packages/mix/lib/src/core/styled_widget.dart
  packages/mix/lib/src/modifiers/internal/render_widget_modifier.dart
  packages/mix/lib/src/modifiers/modifiers.dart
  packages/mix/lib/src/specs/specs.dart
  packages/mix/lib/src/theme/theme.dart
  packages/mix/lib/src/variants/variants.dart
  packages/mix/lib/src/widgets/pressable_widget.dart
  packages/mix/lib/src/widgets/widgets.dart
  packages/mix/scripts/exports.dart
Labels: mix, mix_generator, mix_lint

#387 feat: Improvements for the "extract attributes" assist
  packages/mix_lint/lib/src/assists/extract_attributes.dart
  packages/mix_lint/lib/src/utils/visitors.dart
Labels: mix_lint

#388 fix: animations of Stack and Flex
  packages/mix/lib/src/modifiers/internal/render_widget_modifier.dart
  packages/mix/lib/src/specs/flex/flex_spec.dart
  packages/mix/lib/src/specs/flex/flex_widget.dart
  packages/mix/lib/src/specs/stack/stack_spec.dart
  packages/mix/lib/src/specs/stack/stack_widget.dart
  packages/mix/test/helpers/override_modifiers_order.dart
  packages/mix/test/modifiers/render_widget_modifier_test.dart
  packages/mix/test/src/specs/box/box_widget_test.dart
  packages/mix/test/src/specs/flex/flex_widget_test.dart
  packages/mix/test/src/specs/icon/icon_widget_test.dart
  packages/mix/test/src/specs/image/image_widget_test.dart
  packages/mix/test/src/specs/stack/stack_widget_test.dart
Labels: mix

#389 fix: normalization of order of modifier when applied to a Styled Widget
  packages/mix/lib/src/core/styled_widget.dart
  packages/mix/lib/src/modifiers/internal/render_widget_modifier.dart
  packages/mix/test/helpers/override_modifiers_order.dart
Labels: mix

#391 feat: Ability to pass MixWidgetStateController
  mix.code-workspace
  packages/mix/lib/src/core/deprecation_notices.dart
  packages/mix/lib/src/core/internal/widget_state/interactive_widget.dart
  packages/mix/lib/src/core/internal/widget_state/widget_state.dart
  packages/mix/lib/src/core/spec.dart
  packages/mix/lib/src/core/styled_widget.dart
  packages/mix/lib/src/core/widget_state/internal/gesture_mix_state.dart
  packages/mix/lib/src/core/widget_state/internal/interactive_mix_state.dart
  packages/mix/lib/src/core/widget_state/internal/mix_widget_state_builder.dart
  packages/mix/lib/src/core/widget_state/internal/mouse_region_mix_state.dart
  packages/mix/lib/src/core/widget_state/widget_state_controller.dart
  packages/mix/lib/src/theme/tokens/color_token.dart
  packages/mix/lib/src/variants/context_variant_util/on_util.dart
  packages/mix/lib/src/variants/widget_state_variant.dart
  packages/mix/lib/src/widgets/pressable_widget.dart
  packages/mix/test/helpers/testing_utils.dart
  packages/mix/test/src/core/internal/widget_state/interactive_widget_test.dart
  packages/mix/test/src/core/mix_state/internal/gesture_mix_state_test.dart
  packages/mix/test/src/core/mix_state/internal/interactive_mix_state_test.dart
  packages/mix/test/src/core/styled_widget_test.dart
  packages/mix/test/src/core/widget_state/internal/listener_mix_state_test.dart
  packages/mix/test/src/internal/widget_state/gesturable_builder_test.dart
  packages/mix/test/src/internal/widget_state/interactive_widget_test.dart
  packages/mix/test/src/variants/context_variant_test.dart
  packages/mix/test/src/variants/widget_state_variant_test.dart
  packages/mix/test/src/widgets/pressable/pressable_widget_test.dart
  packages/mix/test/src/widgets/pressable_widget_test.dart
  packages/mix/test/src/widgets/widget_state/widget_state_controller_test.dart
  packages/mix/test/src/widgets/widget_state/widget_state_test.dart
  packages/mix_lint_test/test/lints/attributes_ordering/fix/attributes_ordering_test.dart
  packages/remix/scripts/generate.dart
  packages/remix/scripts/markdown.dart
Labels: mix, repo, mix_lint, remix

#392 fix: nullable merge expressions and updates debug properties
  packages/mix_generator/lib/src/builders/method_debug_fill_properties.dart
  packages/mix_generator/lib/src/builders/method_merge.dart
Labels: mix_generator

#395 refactor(mix_generator): fix lints
  packages/mix/lib/src/specs/box/box_spec.dart
  packages/mix/lib/src/specs/box/box_spec.g.dart
  packages/mix/lib/src/specs/flex/flex_spec.dart
  packages/mix/lib/src/specs/flex/flex_spec.g.dart
  packages/mix/lib/src/specs/icon/icon_spec.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix/lib/src/specs/image/image_spec.dart
  packages/mix/lib/src/specs/image/image_spec.g.dart
  packages/mix/lib/src/specs/stack/stack_spec.dart
  packages/mix/lib/src/specs/stack/stack_spec.g.dart
  packages/mix/lib/src/specs/text/text_spec.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
  packages/mix/pubspec.yaml
  packages/mix_generator/lib/src/builders/method_debug_fill_properties.dart
  packages/mix_generator/lib/src/builders/method_merge.dart
Labels: mix, mix_generator

#399 fix: Code gen linting fixes
  .github/actions/test/action.yml
  packages/mix/analysis_options.yaml
  packages/mix/lib/mix.dart
  packages/mix/lib/src/modifiers/align_widget_modifier.dart
  packages/mix/lib/src/modifiers/align_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/aspect_ratio_widget_modifier.dart
  packages/mix/lib/src/modifiers/aspect_ratio_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/clip_widget_modifier.dart
  packages/mix/lib/src/modifiers/clip_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/flexible_widget_modifier.dart
  packages/mix/lib/src/modifiers/flexible_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/fractionally_sized_box_widget_modifier.dart
  packages/mix/lib/src/modifiers/fractionally_sized_box_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/internal/render_widget_modifier.dart
  packages/mix/lib/src/modifiers/intrinsic_widget_modifier.dart
  packages/mix/lib/src/modifiers/intrinsic_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/opacity_widget_modifier.dart
  packages/mix/lib/src/modifiers/opacity_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/padding_widget_modifier.dart
  packages/mix/lib/src/modifiers/padding_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/rotated_box_widget_modifier.dart
  packages/mix/lib/src/modifiers/rotated_box_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/sized_box_widget_modifier.dart
  packages/mix/lib/src/modifiers/sized_box_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/transform_widget_modifier.dart
  packages/mix/lib/src/modifiers/transform_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/visibility_widget_modifier.dart
  packages/mix/lib/src/modifiers/visibility_widget_modifier.g.dart
  packages/mix/lib/src/specs/box/box_spec.g.dart
  packages/mix/lib/src/specs/flex/flex_spec.g.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix/lib/src/specs/image/image_spec.g.dart
  packages/mix/lib/src/specs/stack/stack_spec.g.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
  packages/mix/test/helpers/testing_utils.dart
  packages/mix/test/src/core/styled_widget_test.dart
  packages/mix/test/src/modifiers/padding_widget_modifier_test.dart
  packages/mix_generator/lib/src/builders/method_copy_with.dart
  packages/mix_generator/lib/src/builders/method_lerp_builder.dart
  packages/mix_generator/lib/src/builders/method_resolve.dart
  packages/mix_generator/lib/src/builders/spec/class_tween_spec.dart
  packages/mix_generator/lib/src/builders/spec/mixin_spec.dart
  packages/mix_generator/lib/src/helpers/field_info.dart
  packages/mix_generator/lib/src/mixable_spec_generator.dart
Labels: mix, mix_generator, repo

#394 fix: gestures propagation for GestureMixStateWidget
  packages/mix/lib/src/core/widget_state/internal/gesture_mix_state.dart
  packages/mix/lib/src/widgets/pressable_widget.dart
  packages/mix/test/src/core/mix_state/internal/gesture_mix_state_test.dart
  packages/mix/test/src/widgets/pressable/pressable_widget_test.dart
Labels: mix

#401 fix: add star and linear to ShapeBorderUtility
  packages/mix/lib/src/attributes/border/shape_border_dto.dart
Labels: mix

#400 ci: Melos scripts improvements
  melos.yaml
  packages/mix_generator/pubspec.yaml
  packages/mix_generator/test/mix_generator_test.dart
  packages/remix/demo/test/widget_test.dart
  packages/remix/test/components/button_test.dart
Labels: mix, mix_generator, repo, mix_annotations, remix

#405 ci: improvements for publish pipeline
  .github/workflows/changelog.yml
  .github/workflows/publish.yml
Labels: repo

#404 docs: improve mix theme data features explanations
  packages/mix/lib/src/modifiers/align_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/aspect_ratio_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/clip_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/flexible_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/fractionally_sized_box_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/opacity_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/padding_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/rotated_box_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/sized_box_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/transform_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/visibility_widget_modifier.g.dart
  packages/mix/lib/src/specs/box/box_spec.g.dart
  packages/mix/lib/src/specs/flex/flex_spec.g.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix/lib/src/specs/image/image_spec.g.dart
  packages/mix/lib/src/specs/stack/stack_spec.g.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
  packages/mix_generator/lib/src/builders/method_debug_fill_properties.dart
  packages/remix/lib/components/avatar/avatar_spec.g.dart
  packages/remix/lib/components/badge/badge_spec.g.dart
  packages/remix/lib/components/button/button_spec.g.dart
  packages/remix/lib/components/callout/callout_spec.g.dart
  packages/remix/lib/components/card/card_spec.g.dart
  packages/remix/lib/components/checkbox/checkbox_spec.g.dart
  packages/remix/lib/components/progress/progress_spec.g.dart
  packages/remix/lib/components/radio/radio_spec.g.dart
  packages/remix/lib/components/spinner/spinner_spec.g.dart
  packages/remix/lib/components/switch/switch_spec.g.dart
  website/pages/docs/guides/design-token.mdx
Labels: documentation, mix, mix_generator, remix

#406 chore: Removed base keyword from attributes
  packages/mix/lib/src/core/attribute.dart
  packages/mix/lib/src/core/deprecation_notices.dart
  packages/mix/lib/src/core/modifier.dart
  packages/mix/lib/src/core/spec.dart
  packages/mix/lib/src/variants/variant_attribute.dart
  packages/mix/test/helpers/testing_utils.dart
Labels: mix

#403 docs: Add documentation for extract attributes
  website/components/Video.tsx
  website/pages/docs/tools/lint.mdx
Labels: documentation, mix, mix_generator, repo, mix_annotations, mix_lint, remix

#409 refactor: Added missing utilities
  packages/mix/lib/src/attributes/decoration/decoration_dto.dart
  packages/mix/lib/src/attributes/enum/enum_util.dart
  packages/mix/lib/src/attributes/enum/enum_util.g.dart
  packages/mix/lib/src/attributes/scalars/scalar_util.dart
  packages/mix/lib/src/attributes/scalars/scalar_util.g.dart
Labels: mix

#411 fix: Added missing widget state utilities
  packages/mix/lib/src/attributes/spacing/spacing_util.dart
  packages/mix/lib/src/core/widget_state/widget_state_controller.dart
  packages/mix/lib/src/variants/context_variant_util/on_util.dart
  packages/mix/lib/src/widgets/pressable_widget.dart
Labels: mix

#414 fix: FlexSpecWidget prioritizes the direction in spec
  packages/mix/lib/src/specs/flex/flex_widget.dart
  packages/mix/test/src/specs/flex/flex_widget_test.dart
Labels: mix
