Repository btwld/mix, pull requests merged in 2024-08, with the labels that each got.

#412 ci: analysis improvements
  lints.yaml
  packages/mix/README.md
  packages/mix/analysis_options.yaml
  packages/mix_annotations/analysis_options.yaml
  packages/mix_generator/analysis_options.yaml
  packages/mix_lint/analysis_options.yaml
Labels: mix, mix_generator, repo, mix_annotations, mix_lint

#421 fix: breakpoint utility merge exception
  packages/mix/lib/src/theme/tokens/breakpoints_token.dart
  packages/mix/lib/src/variants/context_variant_util/on_breakpoint_util.dart
  packages/mix/lib/src/variants/context_variant_util/on_util.dart
  packages/mix/test/src/variants/context_variant_util/on_breakpoint_util_test.dart
Labels: mix, mix_generator, repo, mix_annotations, mix_lint

#424 fix: Pressable disposes controller only if it creates it
  packages/mix/lib/src/widgets/pressable_widget.dart
  packages/mix/test/src/widgets/pressable/pressable_widget_test.dart
Labels: mix

#430 docs: review the theming documentation
  website/pages/docs/tutorials/theming.md
Labels: documentation

#432 docs: remove the custom component doc
  website/pages/docs/tutorials/custom-component.md
Labels: documentation

#437 fix: HitTestBehavior when there is a Interectable in the tree
  packages/mix/lib/src/widgets/pressable_widget.dart
  packages/mix/test/src/widgets/pressable/pressable_widget_test.dart
Labels: mix

#434 feat: Create a specific utility to Transform.rotate
  packages/mix/lib/src/modifiers/transform_widget_modifier.dart
  packages/mix/test/src/modifiers/transform_widget_modifier_test.dart
  packages/mix/test/src/modifiers/widget_modifiers_util_test.dart
Labels: mix

#444 feat: button supports component builder
  packages/remix/lib/components/button/button.dart
  packages/remix/lib/components/button/button_blank.dart
  packages/remix/lib/components/button/button_widget.dart
  packages/remix/lib/helpers/component_builder.dart
  packages/remix/test/components/button/button_widget_test.dart
Labels: remix

#440 chore: Support to Flutter 3.24.0
  .github/actions/test/action.yml
  examples/themed_button/pubspec.yaml
  examples/todo_list/lib/pages/todo_list_page.dart
  examples/todo_list/pubspec.yaml
  melos.yaml
  packages/mix/test/src/attributes/decoration/image/decoration_image_dto_test.dart
  packages/mix_lint/lib/src/lints/attributes_ordering.dart
  packages/mix_lint/lib/src/lints/avoid_variant_inside_context_variant.dart
  packages/mix_lint/lib/src/utils/rule_config.dart
  packages/mix_lint_test/pubspec.yaml
  packages/remix/demo/pubspec.yaml
  packages/remix/pubspec.yaml
  packages/remix/test/flutter_test_config.dart
  packages/remix/test/utils/extensions/local_file_comparator.dart
  packages/remix/test/utils/extensions/widget_tester.dart
Labels: mix, repo, examples, mix_lint, remix

#445 fix: Shadow list animation
  packages/mix/lib/src/core/helpers.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix_generator/lib/src/builders/method_lerp_builder.dart
  packages/mix_generator/lib/src/helpers/builder_utils.dart
Labels: mix, mix_generator

#449 chore: Remove example
  examples/themed_button/.gitignore
  examples/themed_button/.metadata
  examples/themed_button/README.md
  examples/themed_button/analysis_options.yaml
  examples/themed_button/lib/button/button.dart
  examples/themed_button/lib/button/button.style.dart
  examples/themed_button/lib/button/button.variants.dart
  examples/themed_button/lib/button_page.dart
  examples/themed_button/lib/main.dart
  examples/themed_button/lib/main.directories.g.dart
  examples/themed_button/lib/styles/orbit.dart
  examples/themed_button/lib/styles/schadcn.dart
  examples/themed_button/lib/styles/tokens.dart
  examples/themed_button/macos/Flutter/GeneratedPluginRegistrant.swift
  examples/themed_button/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  examples/themed_button/macos/Flutter/ephemeral/flutter_export_environment.sh
  examples/themed_button/macos/Podfile
  examples/themed_button/pubspec.yaml
  examples/themed_button/test/empty_test.dart
  examples/themed_button/web/favicon.png
  examples/themed_button/web/icons/Icon-192.png
  examples/themed_button/web/icons/Icon-512.png
  examples/themed_button/web/icons/Icon-maskable-192.png
  examples/themed_button/web/icons/Icon-maskable-512.png
  examples/themed_button/web/index.html
  examples/themed_button/web/manifest.json
Labels: examples

#450 chore: Update google fonts
  examples/todo_list/pubspec.yaml
Labels: examples

#427 feat: `SingleChildScrollView` widget modifier
  .vscode/settings.json
  packages/mix/lib/src/modifiers/scroll_view_widget_modifier.dart
  packages/mix/lib/src/modifiers/scroll_view_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/widget_modifiers_util.dart
  packages/mix/test/src/modifiers/scroll_view_widget_modifier_test.dart
Labels: mix, repo

#455 fix: Transform.rotate couldn't be applied as specModifiers
  packages/mix/lib/src/modifiers/transform_widget_modifier.dart
Labels: mix

#457 fix: SpecModifiers were taking a long time to animate.
  packages/mix/lib/src/core/spec.dart
  packages/mix/lib/src/specs/box/box_spec.g.dart
  packages/mix/lib/src/specs/flex/flex_spec.g.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix/lib/src/specs/image/image_spec.g.dart
  packages/mix/lib/src/specs/stack/stack_spec.g.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
  packages/mix/test/src/specs/box/box_spec_test.dart
  packages/mix_annotations/lib/src/annotations.dart
  packages/mix_generator/lib/src/builders/method_lerp_builder.dart
  packages/mix_generator/lib/src/helpers/annotation_helpers.dart
Labels: mix, mix_generator, mix_annotations

#456 docs: Fix an outdated comment
  website/pages/docs/overview/utility-first.mdx
Labels: documentation

#459 docs: Adding `$` sign in dart code example
  website/pages/docs/utilities/text-utilities.md
Labels: documentation

#460 fix(docs): Fix fn level docs for Style::applyVariants
  packages/mix/lib/src/core/factory/style_mix.dart
Labels: mix

#448 feat: Create Select component
  packages/mix/lib/src/core/styled_widget.dart
  packages/remix/demo/lib/components/card_use_case.dart
  packages/remix/demo/lib/components/select_use_case.dart
  packages/remix/demo/lib/main.dart
  packages/remix/demo/lib/main.directories.g.dart
  packages/remix/demo/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  packages/remix/demo/macos/Flutter/ephemeral/FlutterInputs.xcfilelist
  packages/remix/demo/macos/Flutter/ephemeral/flutter_export_environment.sh
  packages/remix/demo/macos/Runner/AppDelegate.swift
  packages/remix/lib/components/button/button_widget.dart
  packages/remix/lib/components/select/button/select_button.dart
  packages/remix/lib/components/select/button/select_button_widget.dart
  packages/remix/lib/components/select/item/select_menu.dart
  packages/remix/lib/components/select/item/select_menu_widget.dart
  packages/remix/lib/components/select/select.dart
  packages/remix/lib/components/select/select.g.dart
  packages/remix/lib/components/select/select_style.dart
  packages/remix/lib/components/select/select_widget.dart
  packages/remix/lib/helpers/component_builder.dart
  packages/remix/lib/helpers/spec/composited_transform_follower_spec.dart
  packages/remix/lib/helpers/spec/composited_transform_follower_spec.g.dart
  packages/remix/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  packages/remix/macos/Flutter/ephemeral/flutter_export_environment.sh
  packages/remix/test/components/button/button_widget_test.dart
Labels: mix, remix

#263 feat: Create mouse cursor Decorator
  packages/mix/lib/src/modifiers/mouse_cursor_modifier.dart
  packages/mix/lib/src/modifiers/mouse_cursor_modifier.g.dart
  packages/mix/lib/src/modifiers/widget_modifiers_util.dart
  packages/mix/test/src/modifiers/mouse_cursor_modifier_test.dart
  website/pages/docs/guides/widget-modifiers.mdx
Labels: documentation, mix

#435 feat: Add group feature to Radio
  packages/remix/demo/lib/components/radio_use_case.dart
  packages/remix/demo/lib/helpers/string.dart
  packages/remix/demo/lib/main.directories.g.dart
  packages/remix/demo/macos/Flutter/ephemeral/FlutterInputs.xcfilelist
  packages/remix/lib/components/radio/radio.dart
  packages/remix/lib/components/radio/radio.g.dart
  packages/remix/lib/components/radio/radio_blank.dart
  packages/remix/lib/components/radio/radio_style.dart
  packages/remix/lib/components/radio/radio_variants.dart
  packages/remix/lib/components/radio/radio_widget.dart
  packages/remix/test/components/radio/radio_widget_test.dart
  packages/remix/test/utils/golden_tests/golden_test_utils.dart
Labels: remix

#466 feat: Fold MixThemeData into single root
  packages/mix/lib/src/theme/mix/mix_theme.dart
Labels: mix, repo, remix

#474 chore: linting
  packages/mix/lib/src/modifiers/scroll_view_widget_modifier.dart
  packages/mix/lib/src/modifiers/widget_modifiers_util.dart
  packages/mix/lib/src/theme/mix/mix_theme.dart
  packages/mix/test/src/modifiers/mouse_cursor_modifier_test.dart
  packages/mix/test/src/modifiers/scroll_view_widget_modifier_test.dart
  packages/mix/test/src/widgets/pressable/pressable_widget_test.dart
  packages/mix/test/variants/context_variant_util/on_platform_util_test.dart
  packages/mix_annotations/test/annotations_test.dart
  packages/mix_generator/test/generated_code_test_cases/main.dart
  packages/mix_lint/lib/mix_lint.dart
Labels: mix, mix_generator, mix_annotations, mix_lint
