Repository btwld/mix, pull requests merged in 2024-09, with the labels that each got.

#472 fix: Style when merged with an AnimatedStyle should generate a AnimatedStyle
  packages/mix/lib/src/core/factory/style_mix.dart
  packages/mix/test/src/factory/style_mix_test.dart
Labels: mix

#475 feat: Fluent API
  .fvmrc
  .gitignore
  .vscode/settings.json
  mix.code-workspace
  packages/mix/lib/src/core/attribute.dart
  packages/mix/lib/src/core/factory/style_mix.dart
  packages/mix/lib/src/core/spec.dart
  packages/mix/lib/src/modifiers/padding_widget_modifier.g.dart
  packages/mix/lib/src/specs/box/box_spec.g.dart
  packages/mix/lib/src/specs/flex/flex_spec.g.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix/lib/src/specs/image/image_spec.g.dart
  packages/mix/lib/src/specs/spec_util.dart
  packages/mix/lib/src/specs/stack/stack_spec.g.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
  packages/mix/test/src/specs/box/box_spec_test.dart
  packages/mix/test/src/specs/flex/flex_spec_test.dart
  packages/mix/test/src/specs/flex/flex_util_test.dart
  packages/mix/test/src/specs/icon/icon_spec_test.dart
  packages/mix/test/src/specs/image/image_spec_test.dart
  packages/mix/test/src/specs/stack/stack_spec_test.dart
  packages/mix/test/src/specs/text/text_spec_test.dart
  packages/mix_generator/lib/src/builders/spec/class_spec_utility.dart
Labels: mix, mix_generator, repo

#478 feat: implement a way to clear inline modifiers
  packages/mix/lib/src/attributes/modifiers/widget_modifiers_data_dto.dart
  packages/mix/lib/src/attributes/modifiers/widget_modifiers_util.dart
  packages/mix/lib/src/modifiers/scroll_view_widget_modifier.dart
  packages/mix/test/src/attributes/modifiers/widget_modifiers_data_dto_test.dart
Labels: mix

#477 feat: Add more directives to Colors
  packages/mix/lib/mix.dart
  packages/mix/lib/src/attributes/color/color_directives.dart
  packages/mix/lib/src/attributes/color/color_directives_impl.dart
  packages/mix/lib/src/attributes/color/color_dto.dart
  packages/mix/lib/src/attributes/color/color_util.dart
  packages/mix/lib/src/modifiers/scroll_view_widget_modifier.dart
  packages/mix/test/src/attributes/color/color_directives_impl_test.dart
  packages/mix/test/src/attributes/color/color_dto_test.dart
  packages/remix/demo/lib/components/select_use_case.dart
Labels: mix, remix

#476 refactor: Remix was rewritten using Fluent API
  packages/remix/lib/src/components/avatar/avatar.g.dart
  packages/remix/lib/src/components/avatar/avatar_style.dart
  packages/remix/lib/src/components/badge/badge.g.dart
  packages/remix/lib/src/components/badge/badge_style.dart
  packages/remix/lib/src/components/badge/badge_theme.dart
  packages/remix/lib/src/components/button/button.g.dart
  packages/remix/lib/src/components/button/button_style.dart
  packages/remix/lib/src/components/button/button_theme.dart
  packages/remix/lib/src/components/callout/callout.g.dart
  packages/remix/lib/src/components/callout/callout_style.dart
  packages/remix/lib/src/components/callout/callout_theme.dart
  packages/remix/lib/src/components/card/card.g.dart
  packages/remix/lib/src/components/card/card_style.dart
  packages/remix/lib/src/components/card/card_theme.dart
  packages/remix/lib/src/components/checkbox/checkbox.g.dart
  packages/remix/lib/src/components/checkbox/checkbox_style.dart
  packages/remix/lib/src/components/checkbox/checkbox_theme.dart
  packages/remix/lib/src/components/progress/progress.g.dart
  packages/remix/lib/src/components/progress/progress_style.dart
  packages/remix/lib/src/components/progress/progress_theme.dart
  packages/remix/lib/src/components/radio/radio.g.dart
  packages/remix/lib/src/components/radio/radio_style.dart
  packages/remix/lib/src/components/radio/radio_theme.dart
  packages/remix/lib/src/components/select/select.g.dart
  packages/remix/lib/src/components/select/select_style.dart
  packages/remix/lib/src/components/select/select_theme.dart
  packages/remix/lib/src/components/spinner/spinner.g.dart
  packages/remix/lib/src/components/spinner/spinner_style.dart
  packages/remix/lib/src/components/switch/switch.g.dart
  packages/remix/lib/src/components/switch/switch_style.dart
  packages/remix/lib/src/components/switch/switch_theme.dart
  packages/remix/lib/src/helpers/spec/composited_transform_follower_spec.g.dart
Labels: remix

#433 feat: Accordion component
  packages/remix/demo/lib/components/accordion_use_case.dart
  packages/remix/demo/lib/main.directories.g.dart
  packages/remix/demo/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  packages/remix/demo/macos/Flutter/ephemeral/FlutterInputs.xcfilelist
  packages/remix/demo/macos/Flutter/ephemeral/FlutterOutputs.xcfilelist
  packages/remix/demo/macos/Flutter/ephemeral/flutter_export_environment.sh
  packages/remix/lib/remix.dart
  packages/remix/lib/src/components/accordion/accordion.dart
  packages/remix/lib/src/components/accordion/accordion.g.dart
  packages/remix/lib/src/components/accordion/accordion_style.dart
  packages/remix/lib/src/components/accordion/accordion_theme.dart
  packages/remix/lib/src/components/accordion/accordion_widget.dart
  packages/remix/lib/src/components/accordion/header/accordion_header.dart
  packages/remix/lib/src/components/accordion/header/accordion_header_spec_widget.dart
  packages/remix/lib/src/theme/remix_theme.dart
  packages/remix/test/components/accordion/accordion_widget_test.dart
Labels: remix

#480 chore: consolidate spec attribute and dto
  packages/mix/build.yaml
  packages/mix/lib/src/attributes/border/border_dto.g.dart
  packages/mix/lib/src/attributes/border/border_radius_dto.g.dart
  packages/mix/lib/src/attributes/border/shape_border_dto.g.dart
  packages/mix/lib/src/attributes/constraints/constraints_dto.g.dart
  packages/mix/lib/src/attributes/decoration/decoration_dto.g.dart
  packages/mix/lib/src/attributes/decoration/image/decoration_image_dto.g.dart
  packages/mix/lib/src/attributes/gradient/gradient_dto.g.dart
  packages/mix/lib/src/attributes/shadow/shadow_dto.g.dart
  packages/mix/lib/src/attributes/spacing/edge_insets_dto.g.dart
  packages/mix/lib/src/attributes/strut_style/strut_style_dto.g.dart
  packages/mix/lib/src/attributes/text_style/text_style_dto.g.dart
  packages/mix/lib/src/modifiers/padding_widget_modifier.g.dart
  packages/mix/lib/src/specs/box/box_spec.g.dart
  packages/mix/lib/src/specs/flex/flex_spec.g.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix/lib/src/specs/image/image_spec.g.dart
  packages/mix/lib/src/specs/stack/stack_spec.g.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
  packages/mix/test/src/attributes/color/color_directives_impl_test.dart
  packages/mix/test/src/attributes/color/color_dto_test.dart
  packages/mix_generator/lib/src/builders/dto/class_mixin.dart
  packages/mix_generator/lib/src/builders/dto/class_utility.dart
  packages/mix_generator/lib/src/builders/dto/class_utility_dto.dart
  packages/mix_generator/lib/src/builders/dto/extension_value.dart
  packages/mix_generator/lib/src/builders/spec/class_spec_utility.dart
  packages/mix_generator/lib/src/helpers/builder_utils.dart
  packages/mix_generator/lib/src/helpers/field_info.dart
  packages/mix_generator/lib/src/mixable_dto_generator.dart
  packages/mix_generator/lib/src/mixable_spec_generator.dart
  packages/remix/demo/lib/components/segmented_control_use_case.dart
  packages/remix/lib/src/components/accordion/accordion.g.dart
  packages/remix/lib/src/components/avatar/avatar.g.dart
  packages/remix/lib/src/components/badge/badge.g.dart
  packages/remix/lib/src/components/button/button.g.dart
  packages/remix/lib/src/components/callout/callout.g.dart
  packages/remix/lib/src/components/card/card.g.dart
  packages/remix/lib/src/components/checkbox/checkbox.g.dart
  packages/remix/lib/src/components/progress/progress.g.dart
  packages/remix/lib/src/components/radio/radio.g.dart
  packages/remix/lib/src/components/radio/radio_style.dart
  packages/remix/lib/src/components/select/item/select_menu_widget.dart
  packages/remix/lib/src/components/select/select.g.dart
  packages/remix/lib/src/components/spinner/spinner.g.dart
  packages/remix/lib/src/components/switch/switch.g.dart
  packages/remix/lib/src/components/switch/switch_widget.dart
  packages/remix/lib/src/helpers/spec/composited_transform_follower_spec.g.dart
  packages/remix/lib/src/theme/tokens/color_tokens.dart
Labels: mix, mix_generator, remix

#471 fix: Update OnBrightnessVariant to use `MediaQuery` instead of `Theme`
  packages/mix/lib/src/variants/context_variant_util/on_brightness_util.dart
  packages/mix/test/helpers/testing_utils.dart
  packages/mix/test/src/variants/context_variant_util/on_breakpoint_util_test.dart
  packages/mix/test/src/variants/context_variant_util/on_brightness_util_test.dart
  packages/mix/test/src/variants/context_variant_util/on_not_util_test.dart
  packages/mix/test/src/variants/context_variant_util_test.dart
Labels: mix, mix_generator, repo, remix

#484 feat: transform.translate
  packages/mix/lib/src/modifiers/transform_widget_modifier.dart
  packages/mix/test/src/modifiers/transform_widget_modifier_test.dart
Labels: mix

#487 feat: Add CustomOutlinedBorder's
  packages/mix/lib/src/attributes/border/shape_border_dto.dart
Labels: mix

#489 feat: Add state error on MixWidgetState
  examples/todo_list/.gitignore
  packages/mix/lib/src/core/widget_state/internal/mix_widget_state_builder.dart
  packages/mix/lib/src/core/widget_state/widget_state_controller.dart
  packages/mix/lib/src/variants/context_variant_util/on_util.dart
  packages/mix/lib/src/variants/widget_state_variant.dart
  packages/mix/test/src/widgets/widget_state/widget_state_controller_test.dart
Labels: mix, examples

#490 refactor: ShapeBorder merge
  packages/mix/lib/src/attributes/border/shape_border_dto.dart
  packages/mix/test/src/attributes/border/shape_border_dto_test.dart
Labels: mix

#491 feat: Improve error messages
  packages/mix/lib/src/attributes/border/border_dto.dart
  packages/mix/lib/src/attributes/border/border_radius_dto.dart
  packages/mix/lib/src/attributes/border/shape_border_dto.dart
  packages/mix/lib/src/attributes/decoration/decoration_dto.dart
  packages/mix/lib/src/attributes/gradient/gradient_dto.dart
  packages/mix/lib/src/attributes/shadow/shadow_util.dart
  packages/mix/lib/src/attributes/spacing/edge_insets_dto.dart
  packages/mix/lib/src/attributes/text_style/text_style_dto.dart
  packages/mix/lib/src/core/factory/style_mix.dart
  packages/mix/lib/src/internal/constants.dart
  packages/mix/lib/src/internal/mix_error.dart
  packages/mix/lib/src/theme/tokens/text_style_token.dart
  packages/mix/lib/src/variants/context_variant.dart
  packages/mix/lib/src/variants/variant_attribute.dart
  packages/mix/test/src/factory/style_mix_test.dart
  packages/mix/test/src/theme/tokens/text_style_token_test.dart
Labels: mix
