Repository btwld/mix, pull requests merged in 2024-11, with the labels that each got.

#511 feat: Create Textfield
  packages/remix/demo/lib/components/textfield_use_case.dart
  packages/remix/demo/lib/main.directories.g.dart
  packages/remix/lib/remix.dart
  packages/remix/lib/src/components/progress/progress.dart
  packages/remix/lib/src/components/textfield/attributes/attributes.dart
  packages/remix/lib/src/components/textfield/attributes/attributes.g.dart
  packages/remix/lib/src/components/textfield/textfield.dart
  packages/remix/lib/src/components/textfield/textfield.g.dart
  packages/remix/lib/src/components/textfield/textfield_style.dart
  packages/remix/lib/src/components/textfield/textfield_theme.dart
  packages/remix/lib/src/components/textfield/textfield_widget.dart
  packages/remix/lib/src/helpers/spec/composited_transform_follower_spec.dart
  packages/remix/lib/src/theme/remix_theme.dart
Labels: remix

#512 refactor: small fixes on remix
  packages/remix/demo/lib/components/accordion_use_case.dart
  packages/remix/demo/lib/components/checkbox_use_case.dart
  packages/remix/demo/lib/components/menu_item_use_case.dart
  packages/remix/demo/lib/components/radio_use_case.dart
  packages/remix/demo/lib/components/segmented_control_use_case.dart
  packages/remix/demo/lib/components/select_use_case.dart
  packages/remix/demo/macos/Flutter/ephemeral/FlutterInputs.xcfilelist
  packages/remix/lib/remix.dart
  packages/remix/lib/src/components/accordion/accordion.dart
  packages/remix/lib/src/components/accordion/header/accordion_header_spec_widget.dart
  packages/remix/lib/src/components/checkbox/checkbox.dart
  packages/remix/lib/src/components/checkbox/checkbox.g.dart
  packages/remix/lib/src/components/checkbox/checkbox_style.dart
  packages/remix/lib/src/components/checkbox/checkbox_theme.dart
  packages/remix/lib/src/components/checkbox/checkbox_widget.dart
  packages/remix/lib/src/components/checkbox_group/checkbox_group.dart
  packages/remix/lib/src/components/chip/chip.dart
  packages/remix/lib/src/components/chip/chip_style.dart
  packages/remix/lib/src/components/chip/chip_theme.dart
  packages/remix/lib/src/components/dialog/dialog_widget.dart
  packages/remix/lib/src/components/divider/divider.dart
  packages/remix/lib/src/components/icon_button/icon_button.dart
  packages/remix/lib/src/components/menu_item/menu_item.dart
  packages/remix/lib/src/components/radio/radio_style.dart
  packages/remix/lib/src/components/radio/radio_theme.dart
  packages/remix/lib/src/components/radio/radio_widget.dart
  packages/remix/lib/src/components/segmented_control/button/segmented_control_button.dart
  packages/remix/lib/src/components/segmented_control/button/segmented_control_button_widget.dart
  packages/remix/lib/src/components/segmented_control/segmented_control.dart
  packages/remix/lib/src/components/segmented_control/segmented_control_widget.dart
  packages/remix/lib/src/components/select/button/select_button.dart
  packages/remix/lib/src/components/select/item/select_menu_widget.dart
  packages/remix/lib/src/components/select/select.dart
  packages/remix/lib/src/components/select/select_theme.dart
  packages/remix/lib/src/components/spinner/spinner.dart
  packages/remix/lib/src/components/spinner/spinner_style.dart
  packages/remix/lib/src/components/spinner/spinner_theme.dart
  packages/remix/lib/src/components/switch/switch.dart
  packages/remix/test/components/accordion/accordion_widget_test.dart
  packages/remix/test/components/radio/radio_widget_test.dart
Labels: remix

#513 chore: improve the package scores
  packages/mix/example/.gitignore
  packages/mix/example/.metadata
  packages/mix/example/README.md
  packages/mix/example/lib/main.dart
  packages/mix/example/pubspec.yaml
  packages/mix/pubspec.yaml
  packages/mix/screenshots/logo.png
Labels: mix

#516 feat: Bring TextStyle properties to the root of TextSpecUtility
  packages/mix/lib/src/attributes/text_style/text_style_dto.dart
  packages/mix/lib/src/attributes/text_style/text_style_dto.g.dart
  packages/mix/lib/src/attributes/text_style/text_style_util.dart
  packages/mix/lib/src/specs/text/text_spec.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
  packages/mix/test/src/attributes/text_style/text_style_dto_test.dart
  packages/mix/test/src/attributes/text_style/text_style_util_test.dart
Labels: mix

#519 refactor: Solve dcm lint issues
  lints_with_dcm.yaml
  packages/mix/lib/src/attributes/border/border_radius_dto.dart
  packages/mix/lib/src/attributes/border/shape_border_dto.dart
  packages/mix/lib/src/core/attribute.dart
  packages/mix/lib/src/core/dto.dart
  packages/mix/lib/src/core/modifier.dart
  packages/mix/lib/src/core/styled_widget.dart
  packages/mix/lib/src/specs/icon/icon_widget.dart
  packages/mix/lib/src/theme/mix/mix_theme.dart
  packages/mix/lib/src/theme/tokens/text_style_token.dart
  packages/mix/lib/src/variants/context_variant.dart
  packages/mix/test/src/specs/flexbox/flexbox_widget_test.dart
Labels: mix, repo

#520 refactor: Modernize MediaQuery usage
  packages/mix/lib/src/variants/context_variant_util/on_brightness_util.dart
  packages/mix/lib/src/variants/context_variant_util/on_orientation_util.dart
Labels: mix

#518 docs: Update creating-a-widget.md
  website/pages/docs/tutorials/creating-a-widget.md
Labels: documentation, mix, mix_generator, repo, mix_lint, remix

#525 fix: Token was not being resolved correctly
  packages/mix/lib/src/core/factory/mix_data.dart
  packages/mix/test/src/core/factory/mix_data_test.dart
Labels: mix

#524 refactor(remix): improve widgetbook navigation
  packages/remix/demo/build.yaml
  packages/remix/demo/lib/main.directories.g.dart
Labels: remix

#529 fix: Order of modifiers implementation on Box, Image and Text
  packages/mix/lib/src/specs/box/box_widget.dart
  packages/mix/lib/src/specs/image/image_widget.dart
  packages/mix/lib/src/specs/text/text_spec.dart
  packages/mix/lib/src/specs/text/text_widget.dart
Labels: mix

#530 fix: Toast rerunning animation
  packages/remix/lib/src/components/toast/toast_layer.dart
  packages/remix/lib/src/components/toast/toast_style.dart
  packages/remix/lib/src/theme/remix_theme.dart
Labels: remix
