Repository btwld/mix, pull requests merged in 2025-03, with the labels that each got.

#567 docs: formatting for widget modifiers guide
  website/pages/docs/guides/widget-modifiers.mdx
Labels: documentation

#572 chore: Update min version compatibility
  .fvmrc
  .github/workflows/test.yml
  .vscode/settings.json
  examples/todo_list/pubspec.yaml
  melos.yaml
  packages/mix/example/pubspec.yaml
  packages/mix/lib/src/attributes/scalars/scalar_util.g.dart
  packages/mix/pubspec.yaml
  packages/mix_annotations/pubspec.yaml
  packages/mix_generator/lib/mix_generator.dart
  packages/mix_generator/lib/src/core/metadata/field_metadata.dart
  packages/mix_generator/lib/src/core/utils/base_generator.dart
  packages/mix_generator/lib/src/core/utils/helpers.dart
  packages/mix_generator/lib/src/core/utils/utility_code_generator.dart
  packages/mix_generator/pubspec.yaml
  packages/mix_generator/test/src/core/utils/dart_type_utils_test.dart
  packages/mix_lint/lib/src/assists/extract_attributes.dart
  packages/mix_lint/lib/src/lints/attributes_ordering.dart
  packages/mix_lint/lib/src/lints/avoid_defining_tokens_within_theme_data.dart
  packages/mix_lint/lib/src/lints/avoid_empty_variants.dart
  packages/mix_lint/lib/src/lints/avoid_variant_inside_context_variant.dart
  packages/mix_lint/lib/src/lints/max_number_of_attributes_per_style/max_number_of_attributes_per_style.dart
  packages/mix_lint/lib/src/utils/extensions/lint_rule_node_registry.dart
  packages/mix_lint/pubspec.yaml
  packages/mix_lint_test/pubspec.yaml
  packages/mix_lint_test/test/lints/attributes_ordering/fix/attributes_ordering_test.dart
  packages/mix_lint_test/test/utils/golden.dart
  packages/remix/demo/pubspec.yaml
  packages/remix/pubspec.yaml
Labels: mix, mix_generator, repo, examples, mix_annotations, mix_lint, remix

#574 refactor: Rename `MixableProperty` to `MixableType`
  packages/mix/lib/src/attributes/border/border_dto.dart
  packages/mix/lib/src/attributes/border/border_radius_dto.dart
  packages/mix/lib/src/attributes/border/shape_border_dto.dart
  packages/mix/lib/src/attributes/constraints/constraints_dto.dart
  packages/mix/lib/src/attributes/decoration/decoration_dto.dart
  packages/mix/lib/src/attributes/decoration/image/decoration_image_dto.dart
  packages/mix/lib/src/attributes/gap/space_dto.dart
  packages/mix/lib/src/attributes/gradient/gradient_dto.dart
  packages/mix/lib/src/attributes/shadow/shadow_dto.dart
  packages/mix/lib/src/attributes/spacing/edge_insets_dto.dart
  packages/mix/lib/src/attributes/strut_style/strut_style_dto.dart
  packages/mix/lib/src/attributes/text_height_behavior/text_height_behavior_dto.dart
  packages/mix/lib/src/attributes/text_style/text_style_dto.dart
  packages/mix/lib/src/specs/flex/flex_spec.dart
  packages/mix/lib/src/specs/text/text_spec.dart
  packages/mix_annotations/lib/src/annotations.dart
  packages/mix_annotations/lib/src/deprecated.dart
  packages/mix_annotations/test/annotations_test.dart
  packages/mix_generator/README.md
  packages/mix_generator/lib/src/core/metadata/property_metadata.dart
  packages/mix_generator/lib/src/core/property/property_extension_builder.dart
  packages/mix_generator/lib/src/core/property/property_method_builder.dart
  packages/mix_generator/lib/src/core/property/property_mixin_builder.dart
  packages/mix_generator/lib/src/core/property/property_utility_builder.dart
  packages/mix_generator/lib/src/core/spec/spec_attribute_builder.dart
  packages/mix_generator/lib/src/core/utils/annotation_utils.dart
  packages/mix_generator/lib/src/mix_generator.dart
  packages/mix_generator/test/src/core/spec/spec_method_builder_test.dart
  packages/remix/lib/src/components/accordion/accordion.dart
  packages/remix/lib/src/components/button/button.dart
  packages/remix/lib/src/components/dropdown_menu/dropdown_menu.dart
  packages/remix/lib/src/components/icon_button/icon_button.dart
  packages/remix/lib/src/components/segmented_control/segmented_control.dart
  packages/remix/lib/src/components/select/select.dart
  packages/remix/lib/src/components/textfield/textfield.dart
  website/pages/docs/tools/generator.md
Labels: documentation, mix, mix_generator, mix_annotations, remix
