Repository btwld/mix, pull requests merged in 2025-07, with the labels that each got.

#698 refactor: Rename MixWidgetState to MixWidgetStateModel
  packages/mix/lib/src/core/styled_widget.dart
  packages/mix/lib/src/core/widget_state/internal/mix_widget_state_builder.dart
  packages/mix/lib/src/core/widget_state/widget_state_controller.dart
  packages/mix/lib/src/variants/widget_state_variant.dart
  packages/mix/test/src/core/mix_state/internal/gesture_mix_state_test.dart
  packages/mix/test/src/core/mix_state/internal/interactive_mix_state_test.dart
  packages/mix/test/src/widgets/pressable/pressable_widget_test.dart
  packages/mix/test/src/widgets/widget_state/widget_state_controller_test.dart
  packages/remix/lib/src/helpers/remix_builder.dart
  packages/remix/test/components/radio_test.dart
  packages/remix/test/utils/interaction_tests.dart
Labels: mix, remix

#699 feat: Add RxTooltip component with styles and tests
  packages/remix/demo/lib/api/overlay/tooltip.dart
  packages/remix/lib/remix.dart
  packages/remix/lib/src/components/overlay/tooltip.dart
  packages/remix/lib/src/components/overlay/tooltip.g.dart
  packages/remix/lib/src/components/overlay/tooltip_style.dart
  packages/remix/lib/src/components/overlay/tooltip_widget.dart
  packages/remix/test/components/tooltip_test.dart
Labels: remix

#701 fix: Remove focused style utility classes from specs for v1.7.0
  packages/mix/lib/mix.dart
  packages/mix/lib/src/core/factory/style_mix_ext.dart
  packages/mix/lib/src/core/widget_state/internal/gesture_mix_state.dart
  packages/mix/lib/src/specs/box/box_spec.dart
  packages/mix/lib/src/specs/flex/flex_spec.dart
  packages/mix/lib/src/specs/flexbox/flexbox_spec.dart
  packages/mix/lib/src/specs/icon/icon_spec.dart
  packages/mix/lib/src/specs/image/image_spec.dart
  packages/mix/lib/src/specs/stack/stack_spec.dart
  packages/mix/lib/src/specs/text/text_spec.dart
  packages/mix/lib/src/variants/widget_state_variant.dart
  packages/mix/test/src/core/factory/style_mix_test.dart
  packages/mix/test/src/core/styled_widget_test.dart
Labels: mix

#704 refactor: Replace hardcoded TypeRegistry with simplified real-time discovery system
  .vscode/settings.json
  packages/mix/lib/src/attributes/border/border_radius_dto.dart
  packages/mix/lib/src/attributes/color/color_dto.dart
  packages/mix/lib/src/attributes/decoration/decoration_dto.dart
  packages/mix/lib/src/attributes/modifiers/widget_modifiers_config_dto.dart
  packages/mix/lib/src/attributes/spacing/edge_insets_dto.dart
  packages/mix/lib/src/attributes/text_height_behavior/text_height_behavior_dto.dart
  packages/mix/lib/src/attributes/text_style/text_style_dto.dart
  packages/mix/lib/src/core/spec.dart
  packages/mix/lib/src/modifiers/default_text_style_widget_modifier.dart
Labels: mix, repo

#706 refactor: rename AnimatedData to AnimationConfig
  packages/mix/lib/mix.dart
  packages/mix/lib/src/attributes/animated/animated_util.dart
  packages/mix/lib/src/attributes/animated/animation_config.dart
  packages/mix/lib/src/attributes/animated/animation_config_dto.dart
  packages/mix/lib/src/core/computed_style/computed_style.dart
  packages/mix/lib/src/core/factory/mix_context.dart
  packages/mix/lib/src/core/factory/style_mix.dart
  packages/mix/lib/src/core/spec.dart
  packages/mix/lib/src/specs/box/box_spec.dart
  packages/mix/lib/src/specs/box/box_spec.g.dart
  packages/mix/lib/src/specs/flex/flex_spec.dart
  packages/mix/lib/src/specs/flex/flex_spec.g.dart
  packages/mix/lib/src/specs/flexbox/flexbox_spec.dart
  packages/mix/lib/src/specs/flexbox/flexbox_spec.g.dart
  packages/mix/lib/src/specs/icon/icon_spec.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix/lib/src/specs/image/image_spec.dart
  packages/mix/lib/src/specs/image/image_spec.g.dart
  packages/mix/lib/src/specs/stack/stack_spec.dart
  packages/mix/lib/src/specs/stack/stack_spec.g.dart
  packages/mix/lib/src/specs/text/text_spec.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
  packages/mix/test/src/attributes/animated/animated_data_test.dart
  packages/mix/test/src/attributes/animated/animation_config_test.dart
  packages/mix/test/src/factory/style_mix_test.dart
  packages/mix/test/src/specs/image/image_spec_test.dart
  packages/mix/test/src/specs/stack/stack_attribute_test.dart
  packages/mix_generator/lib/src/core/property/property_method_builder.dart
  packages/mix_generator/lib/src/core/spec/spec_method_builder.dart
  packages/mix_generator/lib/src/core/type_registry.dart
Labels: mix, mix_generator
