Repository btwld/mix, pull requests merged in 2025-09, with the labels that each got.

#731 refactor: consolidate duplicate modifier mixins
  packages/mix/lib/src/modifiers/modifier_util.dart
  packages/mix/lib/src/properties/painting/decoration_mix.dart
  packages/mix/lib/src/specs/image/image_style.dart
  packages/mix/lib/src/style/mixins/variant_style_mixin.dart
  packages/mix/lib/src/variants/variant_util.dart
  packages/mix/test/src/core/style_get_all_variants_test.dart
  packages/mix/test/src/core/style_nested_variants_test.dart
  packages/mix/test/src/variants/variant_mixin_test.dart
Labels: mix

#736 refactor: rename VariantStyleMixin.builder to onBuilder for better API consistency
  .github/workflows/test.yml
  packages/mix/lib/src/core/utility_variant_mixin.dart
  packages/mix/lib/src/specs/box/box_style.dart
  packages/mix/lib/src/specs/flex/flex_style.dart
  packages/mix/lib/src/specs/flexbox/flexbox_style.dart
  packages/mix/lib/src/specs/icon/icon_style.dart
  packages/mix/lib/src/specs/image/image_style.dart
  packages/mix/lib/src/specs/stack/stack_box_style.dart
  packages/mix/lib/src/specs/stack/stack_style.dart
  packages/mix/lib/src/specs/text/text_style.dart
  packages/mix/lib/src/style/mixins/variant_style_mixin.dart
  packages/mix/test/src/variants/variant_mixin_test.dart
  packages/mix_generator/lib/src/core/property/property_method_builder.dart
  packages/mix_generator/lib/src/core/utils/extensions.dart
Labels: mix, mix_generator, repo

#747 feat: add inheritable flag to StyleBuilder for style cascading
  packages/mix/lib/src/core/style_builder.dart
  packages/mix/test/src/core/style_builder_test.dart
Labels: mix

#746 feat: multi transform support
  packages/mix/example/lib/api/animation/keyframe.heart.dart
  packages/mix/example/lib/api/animation/phase.arrow.dart
  packages/mix/lib/src/modifiers/transform_modifier.dart
  packages/mix/lib/src/modifiers/widget_modifier_config.dart
  packages/mix/lib/src/style/mixins/widget_modifier_style_mixin.dart
  packages/mix/test/src/modifiers/transform_modifier_test.dart
Labels: mix

#748 fix: resolve infinite recursion in StyleVariation processing
  .github/workflows/test.yml
  packages/mix/lib/src/core/style.dart
  packages/mix/test/src/properties/layout/enum_util_test.dart
  packages/mix_lint_test/test/lints/attributes_ordering/fix/attributes_ordering_test.dart
Labels: documentation, mix, repo

#750 chore: fix publish issues
  docs/.eslintrc.json
  docs/.gitignore
  docs/README.md
  docs/content/docs/index.mdx
  docs/content/docs/test.mdx
  docs/next.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/postcss.config.mjs
  docs/source.config.ts
  docs/src/app/(home)/layout.tsx
  docs/src/app/(home)/page.tsx
  docs/src/app/api/search/route.ts
  docs/src/app/docs/[[...slug]]/page.tsx
  docs/src/app/docs/layout.tsx
  docs/src/app/global.css
  docs/src/app/layout.config.tsx
  docs/src/app/layout.tsx
  docs/src/lib/source.ts
  docs/src/mdx-components.tsx
  docs/tsconfig.json
  melos.yaml
  packages/mix/example/pubspec.yaml
  packages/mix/pubspec.yaml
Labels: mix, repo

#757 refactor: normalize mixin type parameter order for consistency
  packages/mix/lib/src/core/spec_utility.dart
  packages/mix/lib/src/core/utility_variant_mixin.dart
  packages/mix/lib/src/specs/box/box_mutable_style.dart
  packages/mix/lib/src/specs/box/box_style.dart
  packages/mix/lib/src/specs/flex/flex_mutable_style.dart
  packages/mix/lib/src/specs/flex/flex_style.dart
  packages/mix/lib/src/specs/flexbox/flexbox_mutable_style.dart
  packages/mix/lib/src/specs/icon/icon_mutable_style.dart
  packages/mix/lib/src/specs/icon/icon_style.dart
  packages/mix/lib/src/specs/image/image_mutable_style.dart
  packages/mix/lib/src/specs/stack/stack_mutable_style.dart
  packages/mix/lib/src/specs/stack/stack_style.dart
  packages/mix/lib/src/specs/text/text_mutable_style.dart
  packages/mix/lib/src/specs/text/text_style.dart
  packages/mix/lib/src/style/mixins/animation_style_mixin.dart
Labels: mix

#758 fix: breakpoint fix
  packages/mix/example/lib/api/context_variants/responsive_size.dart
  packages/mix/lib/src/core/breakpoint.dart
  packages/mix/lib/src/theme/tokens/token_refs.dart
  packages/mix/lib/src/theme/tokens/value_tokens.dart
  packages/mix/lib/src/variants/variant.dart
  packages/mix/test/src/theme/tokens/breakpoint_token_integration_test.dart
Labels: mix

#762 refactor: migrate StyleWidget to use styleSpec parameter for improved consistency
  packages/mix/lib/src/core/style_widget.dart
  packages/mix/lib/src/modifiers/box_modifier.dart
  packages/mix/lib/src/specs/box/box_widget.dart
  packages/mix/lib/src/specs/flexbox/flexbox_widget.dart
  packages/mix/lib/src/specs/icon/icon_widget.dart
  packages/mix/lib/src/specs/image/image_widget.dart
  packages/mix/lib/src/specs/stack/stack_widget.dart
  packages/mix/lib/src/specs/text/text_widget.dart
  packages/mix/test/src/modifiers/box_modifier_test.dart
  packages/mix/test/src/specs/box/box_widget_test.dart
  packages/mix/test/src/specs/flexbox/flexbox_widget_test.dart
  packages/mix/test/src/specs/icon/icon_widget_test.dart
  packages/mix/test/src/specs/image/image_widget_test.dart
  packages/mix/test/src/specs/stack/stack_widget_test.dart
  packages/mix/test/src/specs/text/text_widget_test.dart
Labels: mix
