Repository btwld/mix, pull requests merged in 2025-06, with the labels that each got.

#619 feat: deprecate styled widgets in favor of new naming conventions
  .gitignore
  examples/todo_list/lib/style/components/list_tile.dart
  melos.yaml
  packages/mix/CHANGELOG.md
  packages/mix/lib/mix.dart
  packages/mix/lib/src/core/factory/style_widgets_ext.dart
  packages/mix/lib/src/core/styled_widget_deprecation.dart
  packages/mix/lib/src/specs/flex/flex_widget.dart
  packages/mix/lib/src/specs/flexbox/flexbox_widget.dart
  packages/mix/lib/src/specs/stack/stack_widget.dart
  packages/remix/demo/lib/components/card_use_case.dart
Labels: mix, repo, examples, remix

#621 chore: spec widget consolidation
  packages/mix/lib/src/core/animated_spec_widget.dart
  packages/mix/lib/src/core/spec_widget.dart
  packages/mix/lib/src/specs/box/box_widget.dart
  packages/mix/lib/src/specs/flex/flex_widget.dart
  packages/mix/lib/src/specs/flexbox/flexbox_widget.dart
  packages/mix/lib/src/specs/icon/icon_spec.dart
  packages/mix/lib/src/specs/icon/icon_widget.dart
  packages/mix/lib/src/specs/image/image_spec.dart
  packages/mix/lib/src/specs/image/image_widget.dart
  packages/mix/lib/src/specs/stack/stack_widget.dart
  packages/mix/lib/src/specs/text/text_widget.dart
  packages/remix/lib/src/components/action/button/button.g.dart
Labels: mix, remix

#624 Fix FVM path in test workflow
  .github/actions/test/action.yml
Labels: repo

#640 feat: enhance husky and lint_staged with melos integration
  .husky/pre-commit
  melos.yaml
  pubspec.yaml
Labels: repo

#643 feat: unify SpecUtility, Style, and Attributes as compatible values
  packages/mix/lib/src/attributes/nested_style/nested_style_attribute.dart
  packages/mix/lib/src/core/element.dart
  packages/mix/lib/src/core/factory/style_mix.dart
  packages/mix/lib/src/core/spec.dart
  packages/mix/lib/src/modifiers/padding_widget_modifier.g.dart
  packages/mix/lib/src/specs/box/box_spec.g.dart
  packages/mix/lib/src/specs/flex/flex_spec.g.dart
  packages/mix/lib/src/specs/flexbox/flexbox_spec.g.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix/lib/src/specs/image/image_spec.g.dart
  packages/mix/lib/src/specs/stack/stack_spec.g.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
  packages/mix_generator/lib/src/core/spec/spec_utility_builder.dart
  packages/mix_generator/lib/src/core/utils/utility_code_generator.dart
  packages/mix_generator/test/core/utils/utility_code_generator_simple_test.dart
  packages/remix/lib/src/components/action/icon_button/icon_button.g.dart
  packages/remix/lib/src/components/content_presentation/accordion/accordion.g.dart
  packages/remix/lib/src/components/content_presentation/avatar/avatar.g.dart
  packages/remix/lib/src/components/content_presentation/card/card.g.dart
  packages/remix/lib/src/components/content_presentation/chip/chip.g.dart
  packages/remix/lib/src/components/content_presentation/label/label.g.dart
  packages/remix/lib/src/components/content_presentation/menu_item/menu_item.g.dart
  packages/remix/lib/src/components/feedback/callout/callout.g.dart
  packages/remix/lib/src/components/feedback/dialog/dialog.g.dart
  packages/remix/lib/src/components/feedback/progress/progress.g.dart
  packages/remix/lib/src/components/feedback/spinner/spinner.g.dart
  packages/remix/lib/src/components/feedback/toast/toast.g.dart
  packages/remix/lib/src/components/form/checkbox/checkbox.g.dart
  packages/remix/lib/src/components/form/radio/radio.g.dart
  packages/remix/lib/src/components/form/select/select.g.dart
  packages/remix/lib/src/components/form/slider/slider.g.dart
  packages/remix/lib/src/components/form/switch/switch.g.dart
  packages/remix/lib/src/components/form/textfield/textfield.g.dart
  packages/remix/lib/src/components/layout/divider/divider.g.dart
  packages/remix/lib/src/components/layout/header/header.g.dart
  packages/remix/lib/src/components/layout/scaffold/scaffold.g.dart
  packages/remix/lib/src/components/navigation/segmented_control/segmented_control.g.dart
  packages/remix/lib/src/components/utility/badge/badge.g.dart
  packages/remix/lib/src/components/utility/dropdown_menu/dropdown_menu.g.dart
  packages/remix/lib/src/helpers/spec/composited_transform_follower_spec.g.dart
Labels: mix, mix_generator, remix

#644 refactor: Remove NestedStyleAttribute and migrate to direct Style usage
  packages/mix/lib/mix.dart
  packages/mix/lib/src/attributes/nested_style/nested_style_attribute.dart
  packages/mix/lib/src/attributes/nested_style/nested_style_util.dart
  packages/mix/lib/src/core/factory/style_mix.dart
  packages/mix/test/src/attributes/nested_style/nested_style_attribute_test.dart
  packages/mix/test/src/attributes/nested_style/nested_style_util_test.dart
  packages/mix/test/src/attributes/nested_style/style_mix_attribute_test.dart
  packages/mix/test/src/core/attribute_test.dart
  packages/mix/test/src/factory/style_mix_test.dart
  packages/mix/test/src/variants/context_variant_test.dart
Labels: mix

#622 fix: copyWith overriding bug
  packages/mix/lib/src/theme/mix/mix_theme.dart
Labels: mix

#648 fix: Change Mixable to extend EqualityMixin instead of StyleElement
  packages/mix/lib/src/core/element.dart
  packages/mix/lib/src/core/spec.dart
Labels: mix

#632 refactor: Remove custom spacing logic
  packages/mix/lib/src/specs/flex/flex_widget.dart
  packages/mix/test/src/specs/flex/flex_widget_test.dart
Labels: mix

#634 feat: Implementing duration extension for int
  packages/mix/lib/src/helpers/duration.dart
  packages/mix/test/src/helpers/duration_test.dart
Labels: mix

#658 chore: Update generated files
  packages/mix/lib/src/attributes/border/border_dto.g.dart
  packages/mix/lib/src/attributes/border/shape_border_dto.g.dart
  packages/mix/lib/src/attributes/constraints/constraints_dto.g.dart
  packages/mix/lib/src/attributes/decoration/decoration_dto.g.dart
  packages/mix/lib/src/attributes/decoration/image/decoration_image_dto.g.dart
  packages/mix/lib/src/attributes/gradient/gradient_dto.g.dart
  packages/mix/lib/src/attributes/shadow/shadow_dto.g.dart
  packages/mix/lib/src/attributes/strut_style/strut_style_dto.g.dart
  packages/mix/lib/src/attributes/text_height_behavior/text_height_behavior_dto.g.dart
  packages/mix/lib/src/attributes/text_style/text_style_dto.g.dart
  packages/mix/lib/src/modifiers/align_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/aspect_ratio_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/clip_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/default_text_style_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/flexible_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/fractionally_sized_box_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/internal/reset_modifier.g.dart
  packages/mix/lib/src/modifiers/intrinsic_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/mouse_cursor_modifier.g.dart
  packages/mix/lib/src/modifiers/opacity_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/padding_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/rotated_box_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/scroll_view_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/sized_box_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/transform_widget_modifier.g.dart
  packages/mix/lib/src/modifiers/visibility_widget_modifier.g.dart
  packages/mix/lib/src/specs/box/box_spec.g.dart
  packages/mix/lib/src/specs/flex/flex_spec.g.dart
  packages/mix/lib/src/specs/flexbox/flexbox_spec.g.dart
  packages/mix/lib/src/specs/icon/icon_spec.g.dart
  packages/mix/lib/src/specs/image/image_spec.g.dart
  packages/mix/lib/src/specs/stack/stack_spec.g.dart
  packages/mix/lib/src/specs/text/text_spec.g.dart
Labels: mix

#657 fix: Add variant condition check to ContextVariantBuilder
  packages/mix/lib/src/core/factory/mix_data.dart
  packages/mix/test/src/factory/mix_provider_data_test.dart
Labels: mix

#661 refactor: Simplify accordion component architecture
  packages/mix/lib/src/core/factory/style_mix_ext.dart
  packages/remix/demo/lib/api/accordion.dart
  packages/remix/demo/lib/components/accordion_use_case.dart
  packages/remix/demo/lib/components/dropdown_menu.dart
  packages/remix/demo/lib/components/header_use_case.dart
  packages/remix/demo/lib/components/icon_button_use_case.dart
  packages/remix/demo/lib/components/textfield_use_case.dart
  packages/remix/demo/lib/main.directories.g.dart
  packages/remix/lib/mix/attributes/icon_theme_data.dart
  packages/remix/lib/mix/attributes/icon_theme_data.g.dart
  packages/remix/lib/remix.dart
  packages/remix/lib/src/components/action/button/button_style.dart
  packages/remix/lib/src/components/action/button/button_widget.dart
  packages/remix/lib/src/components/action/icon_button/icon_button.dart
  packages/remix/lib/src/components/action/icon_button/icon_button.g.dart
  packages/remix/lib/src/components/action/icon_button/icon_button_style.dart
  packages/remix/lib/src/components/action/icon_button/icon_button_widget.dart
  packages/remix/lib/src/components/content_presentation/accordion/accordion.dart
  packages/remix/lib/src/components/content_presentation/accordion/accordion.g.dart
  packages/remix/lib/src/components/content_presentation/accordion/accordion_style.dart
  packages/remix/lib/src/components/content_presentation/accordion/accordion_widget.dart
  packages/remix/lib/src/components/content_presentation/accordion/header/accordion_header.dart
  packages/remix/lib/src/components/content_presentation/accordion/header/accordion_header_spec_widget.dart
  packages/remix/lib/src/core/theme/component.dart
  packages/remix/lib/src/helpers/mix_controller_mixin.dart
  packages/remix/lib/src/themes/fortaleza/components.dart
  packages/remix/lib/src/themes/fortaleza/components/accordion_theme.dart
  packages/remix/lib/src/themes/fortaleza/components/icon_button_theme.dart
  packages/remix/lib/themes/fortaleza.dart
Labels: mix, remix

#664 feat: Implement RxCard
  packages/remix/demo/lib/api/card.dart
  packages/remix/demo/lib/components/card_use_case.dart
  packages/remix/lib/src/components/content_presentation/card/card.dart
  packages/remix/lib/src/components/content_presentation/card/card_style.dart
  packages/remix/lib/src/components/content_presentation/card/card_widget.dart
  packages/remix/lib/src/core/theme/component.dart
  packages/remix/lib/src/themes/fortaleza/components.dart
  packages/remix/lib/src/themes/fortaleza/components/card_theme.dart
  packages/remix/lib/themes/fortaleza.dart
Labels: remix

#666 feat: Implementing RxLabel
  packages/remix/demo/lib/api/label.dart
  packages/remix/lib/src/components/content_presentation/label/label.dart
  packages/remix/lib/src/components/content_presentation/label/label_style.dart
  packages/remix/lib/src/components/content_presentation/label/label_widget.dart
Labels: remix

#668 feat: Implement RxAvatar component
  packages/remix/demo/lib/api/avatar.dart
  packages/remix/demo/lib/components/avatar_use_case.dart
  packages/remix/demo/lib/components/card_use_case.dart
  packages/remix/demo/lib/components/menu_item_use_case.dart
  packages/remix/lib/src/components/content_presentation/avatar/avatar.dart
  packages/remix/lib/src/components/content_presentation/avatar/avatar.g.dart
  packages/remix/lib/src/components/content_presentation/avatar/avatar_style.dart
  packages/remix/lib/src/components/content_presentation/avatar/avatar_widget.dart
  packages/remix/lib/src/core/theme/component.dart
  packages/remix/lib/src/themes/fortaleza/components.dart
  packages/remix/lib/src/themes/fortaleza/components/avatar_theme.dart
  packages/remix/lib/themes/fortaleza.dart
Labels: remix

#671 refactor: callout, progress and spinner components
  packages/remix/demo/lib/api/feedback/callout.dart
  packages/remix/demo/lib/api/feedback/progress.dart
  packages/remix/demo/lib/api/feedback/spinner.dart
  packages/remix/demo/lib/components/callout_use_case.dart
  packages/remix/demo/lib/components/progress_use_case.dart
  packages/remix/demo/lib/components/spinner_use_case.dart
  packages/remix/lib/src/components/feedback/callout/callout.dart
  packages/remix/lib/src/components/feedback/callout/callout.g.dart
  packages/remix/lib/src/components/feedback/callout/callout_style.dart
  packages/remix/lib/src/components/feedback/callout/callout_widget.dart
  packages/remix/lib/src/components/feedback/progress/progress.dart
  packages/remix/lib/src/components/feedback/progress/progress_style.dart
  packages/remix/lib/src/components/feedback/progress/progress_widget.dart
  packages/remix/lib/src/components/feedback/spinner/spinner.dart
  packages/remix/lib/src/components/feedback/spinner/spinner_style.dart
  packages/remix/lib/src/components/feedback/spinner/spinner_widget.dart
  packages/remix/lib/src/core/theme/component.dart
  packages/remix/lib/src/themes/fortaleza/components.dart
  packages/remix/lib/src/themes/fortaleza/components/callout_theme.dart
  packages/remix/lib/src/themes/fortaleza/components/progress_theme.dart
  packages/remix/lib/themes/fortaleza.dart
Labels: remix

#672 feat: Refactor radio and checkbox components with new architecture
  packages/naked/lib/src/naked_radio.dart
  packages/remix/demo/lib/api/form/checkbox.dart
  packages/remix/demo/lib/api/form/radio.dart
  packages/remix/demo/lib/components/checkbox_use_case.dart
  packages/remix/demo/lib/components/radio_use_case.dart
  packages/remix/lib/src/components/action/button/button_widget.dart
  packages/remix/lib/src/components/content_presentation/accordion/accordion_widget.dart
  packages/remix/lib/src/components/content_presentation/chip/chip_widget.dart
  packages/remix/lib/src/components/form/checkbox/checkbox.dart
  packages/remix/lib/src/components/form/checkbox/checkbox_style.dart
  packages/remix/lib/src/components/form/checkbox/checkbox_widget.dart
  packages/remix/lib/src/components/form/radio/radio.dart
  packages/remix/lib/src/components/form/radio/radio_style.dart
  packages/remix/lib/src/components/form/radio/radio_widget.dart
  packages/remix/lib/src/core/style_scope.dart
  packages/remix/lib/src/core/theme/component.dart
  packages/remix/lib/src/helpers/remix_builder.dart
  packages/remix/lib/src/themes/fortaleza/components.dart
  packages/remix/lib/src/themes/fortaleza/components/checkbox_theme.dart
  packages/remix/lib/src/themes/fortaleza/components/radio_theme.dart
  packages/remix/lib/themes/fortaleza.dart
  packages/remix/pubspec.yaml
Labels: remix, naked

#673 feat: Refactor RxSelect component with new architecture
  packages/remix/demo/lib/api/form/select.dart
  packages/remix/demo/lib/components/select.dart
  packages/remix/lib/src/components/form/select/item/select_menu.dart
  packages/remix/lib/src/components/form/select/item/select_menu_widget.dart
  packages/remix/lib/src/components/form/select/select.dart
  packages/remix/lib/src/components/form/select/select.g.dart
  packages/remix/lib/src/components/form/select/select_style.dart
  packages/remix/lib/src/components/form/select/select_widget.dart
  packages/remix/lib/src/components/form/select/trigger/select_trigger.dart
  packages/remix/lib/src/components/form/select/trigger/select_trigger_widget.dart
  packages/remix/lib/src/core/theme/component.dart
  packages/remix/lib/src/themes/fortaleza/components.dart
  packages/remix/lib/src/themes/fortaleza/components/select_theme.dart
  packages/remix/lib/themes/fortaleza.dart
Labels: remix

#674 feat: Refactor slider and spinner components with new architecture
  packages/mix/lib/src/attributes/animated/animated_util.dart
  packages/remix/demo/lib/api/form/slider.dart
  packages/remix/demo/lib/api/form/switch.dart
  packages/remix/demo/lib/components/slider.dart
  packages/remix/demo/lib/components/spinner_use_case.dart
  packages/remix/demo/lib/components/switch_use_case.dart
  packages/remix/lib/src/components/feedback/spinner/spinner.dart
  packages/remix/lib/src/components/feedback/spinner/spinner_style.dart
  packages/remix/lib/src/components/form/slider/slider.dart
  packages/remix/lib/src/components/form/slider/slider.g.dart
  packages/remix/lib/src/components/form/slider/slider_style.dart
  packages/remix/lib/src/components/form/slider/slider_widget.dart
  packages/remix/lib/src/components/form/switch/switch.dart
  packages/remix/lib/src/components/form/switch/switch_style.dart
  packages/remix/lib/src/components/form/switch/switch_widget.dart
  packages/remix/lib/src/core/theme/component.dart
  packages/remix/lib/src/helpers/remix_builder.dart
  packages/remix/lib/src/themes/fortaleza/components.dart
  packages/remix/lib/src/themes/fortaleza/components/slider_theme.dart
  packages/remix/lib/src/themes/fortaleza/components/spinner_theme.dart
  packages/remix/lib/src/themes/fortaleza/components/switch_theme.dart
  packages/remix/lib/themes/fortaleza.dart
Labels: mix, remix

#675 feat: Refactor TextField component with new architecture
  packages/remix/demo/lib/api/form/textfield.dart
  packages/remix/demo/lib/components/textfield_use_case.dart
  packages/remix/lib/src/components/form/textfield/textfield.dart
  packages/remix/lib/src/components/form/textfield/textfield.g.dart
  packages/remix/lib/src/components/form/textfield/textfield_style.dart
  packages/remix/lib/src/components/form/textfield/textfield_widget.dart
  packages/remix/lib/src/core/theme/component.dart
  packages/remix/lib/src/themes/fortaleza/components.dart
  packages/remix/lib/src/themes/fortaleza/components/textfield_theme.dart
  packages/remix/lib/themes/fortaleza.dart
Labels: remix

#678 docs: Improve documentation for all form components
  packages/remix/component_patterns_analysis.md
  packages/remix/demo/lib/api/form/select.dart
  packages/remix/demo/lib/api/form/textfield.dart
  packages/remix/demo/lib/components/textfield_use_case.dart
  packages/remix/lib/src/components/form/checkbox/checkbox_widget.dart
  packages/remix/lib/src/components/form/radio/radio_widget.dart
  packages/remix/lib/src/components/form/select/select_widget.dart
  packages/remix/lib/src/components/form/slider/slider_widget.dart
  packages/remix/lib/src/components/form/switch/switch_widget.dart
  packages/remix/lib/src/components/form/textfield/textfield_widget.dart
Labels: remix

#679 feat: Add icon position support
  packages/remix/demo/lib/blocks/auth.dart
  packages/remix/lib/src/components/action/button/button_widget.dart
  packages/remix/lib/src/components/content_presentation/label/label.dart
  packages/remix/lib/src/components/content_presentation/label/label_widget.dart
Labels: remix

#686 test: Create a test suite for RxButton and RxLabel
  packages/remix/lib/src/components/action/button/button_widget.dart
  packages/remix/lib/src/components/content_presentation/chip/chip_widget.dart
  packages/remix/lib/src/components/form/checkbox/checkbox_widget.dart
  packages/remix/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/remix/test/components/button_test.dart
  packages/remix/test/components/checkbox_test.dart
  packages/remix/test/components/chip_test.dart
  packages/remix/test/components/label_test.dart
  packages/remix/test/utils/interaction_tests.dart
Labels: mix, remix

#687 refactor: Improve RxAvatar component with background/foreground image support and enhanced API
  packages/remix/demo/lib/api/content_presentation/avatar.dart
  packages/remix/demo/lib/components/avatar_use_case.dart
  packages/remix/lib/src/components/content_presentation/accordion/accordion_widget.dart
  packages/remix/lib/src/components/content_presentation/avatar/avatar.dart
  packages/remix/lib/src/components/content_presentation/avatar/avatar.g.dart
  packages/remix/lib/src/components/content_presentation/avatar/avatar_style.dart
  packages/remix/lib/src/components/content_presentation/avatar/avatar_widget.dart
  packages/remix/test/components/accordion_test.dart
  packages/remix/test/components/avatar_test.dart
Labels: remix

#690 test: Add comprehensive test suite for TextField
  packages/naked/lib/src/naked_textfield.dart
  packages/remix/test/components/textfield_test.dart
  packages/remix/test/utils/interaction_tests.dart
Labels: remix, naked

#693 feat: Add variants support to radio and select components
  packages/naked/lib/src/naked_radio.dart
  packages/remix/lib/src/components/form/radio/radio_widget.dart
  packages/remix/lib/src/components/form/select/select_widget.dart
  packages/remix/lib/src/core/style_scope.dart
Labels: remix, naked

#695 feat: add focus node and hover support to RxSwitch, drag callbacks to RxSlider, and variants to radio/select
  packages/remix/lib/src/components/form/switch/switch_widget.dart
  packages/remix/test/components/switch_test.dart
Labels: remix

#696 test: Add tests for RxBadge, RxCallout, RxDivider, RxProgress, RxSpinner
  packages/remix/test/components/badge_test.dart
  packages/remix/test/components/callout_test.dart
  packages/remix/test/components/divider_test.dart
  packages/remix/test/components/progress_test.dart
  packages/remix/test/components/spinner_test.dart
Labels: remix
